body {
    margin: 0;
}

header {
    border-bottom: solid 5px black;
    animation: SlideInTop 1s ease-in;
    position: sticky;
    top: 0;
    background-color: white;
    transition-duration: 2s;
    transition-timing-function: ease-in;
}

header:hover {
    color: white;
    background-color: black;
}

@keyframes SlideInTop {
    from {
        transform: translateY(-10vw);
      }
      to {
        transform: translateY(0);
      }
}

.HeadDirection {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    animation: FadeIn 3s;
}

.ExampleDirection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 100px;
    list-style-type: none;
    animation: FadeIn 3s;
    font-weight: bold;
}

@keyframes FadeIn {
    100% {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
    }
    0% {
        opacity: 0%;
    }
}

/*
.ExampleBox:hover {
    border: solid 3px white;
    margin: 0;
    padding: 5px;
    color: black;
    background-color: white;
} (might come back to later) 
*/

section {
    height: 100vh;
}

.FirstSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.BigBox {
    border: solid 3px black;
    padding: 80px;
    animation: FromTheLeft 2s ease-in;
    border-radius: 10%;
    background-color: #B4D2BA;
}

@keyframes FromTheLeft {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}

.StorBoks {
    border: solid 3px black;
    padding: 80px;
    animation: FromTheRight 2s ease-in;
    border-radius: 10%;
    background-color: #870058;
    color: white;
}

@keyframes FromTheRight {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}