body {
    margin: 0;
}

header {
    border-bottom: solid 5px black;
    animation: SlideInTop 1s ease-in;
    position: sticky;
    top: 0;
    background-color: white;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    z-index: +1;
}

header:hover {
    color: white;
    background-color: black;
}

@keyframes SlideInTop {
    from {
        transform: translateY(-10vw);
      }
      to {
        transform: translateY(0);
      }
}

.HeadDirection {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    animation: FadeIn 3s;
}

.ExampleDirection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 100px;
    list-style-type: none;
    animation: FadeIn 3s;
    font-weight: bold;
}

@keyframes FadeIn {
    100% {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
    }
    0% {
        opacity: 0%;
    }
}



.ExampleColor, a {
    animation: color-change 8s infinite;
}

@keyframes color-change {
    0% {color: red;}
    15% {color: orange;}
    30% {color: yellow;}
    45% {color: green;}
    60% {color: blue;}
    75% {color: indigo;}
    90% {color: violet;}
    100% {color: rgb(255, 69, 69);}
}

section {
    height: 100vh;
}

.FirstSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid 5px black;
}

.BigBox {
    border: solid 3px black;
    padding: 80px;
    animation: FromTheRight 2s ease-in;
    border-radius: 10%;
    background-color: #B4D2BA;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

@keyframes FromTheRight {
    from {
        transform: translateX(60vw);
    }
    to {
        transform: translateX(0);
    }
}

.BigBox:hover {
    background-color: #870058;
    color: white;
    rotate: -360deg;
    scale: 1.1;
}

.SecretBox {
    border: solid 3px black;
    width: 10%;
    padding: 80px;
    animation: FromTheTop 2s ease-in;
    border-radius: 8%;
    background-color: #7765E3;
    color: #7765E3;
    transition-duration: 10s;
    transition-timing-function: ease-in;
}

@keyframes FromTheTop {
    from {
        transform: translateY(-100vw);
        opacity: 0%;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

.SecretBox:hover {
    background-color: #313638;
    rotate: 360deg;
}

.StorBoks {
    border: solid 3px black;
    padding: 80px;
    animation: FromTheLeft 2s ease-in;
    border-radius: 10%;
    background-color: #870058;
    color: white;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

@keyframes FromTheLeft {
    from {
        transform: translateX(-60vw);
    }
    to {
        transform: translateX(0);
    }
}

.StorBoks:hover {
    rotate: 360deg;
    background-color: #B4D2BA;
    color: black;
    scale: 0.9;
}

.SecondSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid 5px black;
}

.BouncingAround {
    width: 100px;
    height: 100px;
    background-color: purple;
    position: absolute;
    animation: bounce 1.5s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(-200px) translateX(-300px);
    }
    to {
        transform: translateY(200px) translateX(300px);
    }
}

.JumpingAround {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    animation: jump 1.5s infinite alternate;
}

@keyframes jump {
    from {
        transform: translateY(200px) translateX(300px);
    }
    to {
        transform: translateY(-200px) translateX(-300px);
    }
}

.FlingingAround {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    animation: fling 1.5s infinite alternate;
}

@keyframes fling {
    from {
        transform: translateY(-200px) translateX(300px);
    }
    to {
        transform: translateY(200px) translateX(-300px);
    }
}

.ThrowingAround {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    animation: throw 1.5s infinite alternate;
}

@keyframes throw {
    from {
        transform: translateY(200px) translateX(-300px);
    }
    to {
        transform: translateY(-200px) translateX(300px);
    }
}

.ThirdSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid 5px black;
}